<style>
        .service-box h3 {
            min-height: 60px; /* Adjust the height based on your layout */
        }
    </style>
<section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">InUtil Microservices Portfolio</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-comments wow bounceIn text-primary"></i>
                        <h3>Seamless Messaging Automation</h3>
                        <p class="text-muted">Effortlessly automate communications with our WhatsApp and Telegram Bots, from simple messages to large-scale deployments.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-cloud wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Comprehensive Cloud Microservices</h3>
                        <p class="text-muted">Empower your development with our diverse microservices, offering unparalleled cloud automation.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-share-alt wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Social Data Integration</h3>
                        <p class="text-muted">Access extensive public data from social networks to enrich your applications and services.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-cogs wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Advanced AI Integration</h3>
                        <p class="text-muted">Boost your microservices with cutting-edge LLM models through fine-tuning, inference, and tailored APIs.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
